{% extends "layout.html" %}
{% block title %}
    <title>صفحه اصلی</title>
{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="header-btn col-12">
                <a class="btn btn-danger" href="/index" style="float: right">صفحه اصلی</a>
                <a class="btn btn-danger" href="/logout" style="float: left">خروج</a>
            </div>
        </div>
        <div class="row">
            <div class="rounded col-lg-8 col-md-8 col-sm-12 mx-auto mt-5 p-3"
                 style="background-color: #051937;text-align: center">
                <p>لطفا شرکت کننده مورد نظر را برای رای دادن انتخاب کنید.</p>
                {% for part in participant %}
                        <a class="btn btn-dark mt-3 col-lg-12 col-md-12 col-sm-12 align-content-center" style="text-align: center" href="/vote?id={{ part.id }}" style="color:white;">{{ part.full_name }}&nbsp;
                        {% if part.full_name in final_list %}
                            <span class="badge badge-success">نهایی </span>
                        {% endif %}
                        </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}