{% extends "layout.html" %}
{% load static %}
{% block title %}
    <title>صفحه اصلی</title>
{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="header-btn col-12">
                <img src="{% static 'img/khayyam logo.jpg' %}" class="img-fluid img-thumbnail">
                <a class="btn btn-danger" href="/logout" style="float: left">ورود داوران</a>
            </div>
        </div>
        <div class="row">
            <div class="rounded col-lg-8 col-md-8 col-sm-12 mx-auto mt-5 p-3"
                 style="background-color: #051937;text-align: center">
                <img src="{% static 'img/logo.jpg' %}" class="img-fluid img-thumbnail mb-5">
                <p>به مسابقه ارائه برتر خوش آمدید برای مشاهده اسکوربورد از کلید زیر استفاده کنید.</p>
                <a class="btn btn-warning mt-3" href="/scoreboard">مشاهده اسکوربورد</a>
            </div>
        </div>
    </div>
{% endblock %}